chain:
  bech32_prefix: pb
  name: {{ .chain_name }}
  chain_id: {{ .chain_id }}
  api:
    enable: true
    address: 0.0.0.0:1317
    swagger: false
  grpc:
    enable: true
    address: 0.0.0.0:9090
  rpc:
    address: {{ .node_rpc_url }}
    timeout: 100s
  genesis_file: ""

node:
  type: remote
  config:
    rpc:
      client_name: bdjuno
      address: {{ .node_rpc_url }}
      max_connections: 20
    grpc:
      address: {{ .node_grpc_url }}
      insecure: true
  pruning:
    keep_recent: 100
    keep_every: 500
    interval: 10

database:
  host: {{ .postgres_host }}
  port: {{ .postgres_port }}
  name: {{ .postgres_db }}
  user: {{ .postgres_user }}
  password: {{ .postgres_password }}
  schema: public
  max_open_connections: 10
  max_idle_connections: 10
  partition_size: 100000
  partition_batch: 1000

logging:
  level: debug
  format: text

parsing:
  workers: 1
  listen_new_blocks: true
  parse_old_blocks: true
  parse_genesis: true
  start_height: 1
  fast_sync: false
  genesis_file_path: ""
  average_block_time: 5s

modules:
  auth:
    enable: true
  bank:
    enable: true
  consensus:
    enable: true
  distribution:
    enable: true
  gov:
    enable: true
    proposal_deposit:
      enable: true
    proposal_vote:
      enable: true
    proposal_tally:
      enable: true
  mint:
    enable: true
  slashing:
    enable: true
  staking:
    enable: true
  pricefeed:
    enable: false
  wasm:
    enable: false
  attribute:
    enable: true
  marker:
    enable: true
  name:
    enable: true
  metadata:
    enable: true
