{
  "address": "{{ .validator_address }}",
  "pub_key": {
    "type": "tendermint/PubKeyEd25519",
    "value": "{{ .validator_pubkey }}"
  },
  "priv_key": {
    "type": "tendermint/PrivKeyEd25519",
    "value": "{{ .validator_privkey }}"
  }
}
